:root {
  --gradient: linear-gradient(
    180deg,
    rgba(253, 72, 1, 0.815),
    rgba(0, 149, 194, 0.616)
  );
  --primary: #5d9b398c;
  --secondary: #ff76409a;
  --tertiary: #0c679bab;
  --history: #67706cda;
  --uv-low: rgba(60, 253, 1, 0.5);
  --uv-medium: rgba(241, 237, 20, 0.548);
  --uv-high: rgba(253, 72, 1, 0.514);
  --uv-very-high: rgba(253, 1, 1, 0.486);
}

* {
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  background-color: var(--primary);
}
.header {
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: rgb(61, 61, 61);
  background-image: var(--gradient);
}
.header h1 {
  text-align: center;
  margin: 20px auto 10px auto;
}
.main {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  display: flex;
  margin-top: 30px;
}
.search {
  display: flex;
  flex-basis: 300px;
  flex-direction: column;
  height: 987px;
}
.search-form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
#search-label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}
#search-city {
  width: 65%;
  font-size: 20px;
  margin-bottom: 5px;
  margin-right: 5px;
}
#search-button {
  height: 28px;
  font-size: 20px;
  width: 30%;
}
#search-state {
  width: 65%;
  font-size: 20px;
  margin-bottom: 10px;
}
#search-history {
  height: 100%;
  background-color: var(--history);
  text-align: center;
  border-style: solid;
  border-style: solid;
  border-width: 10px;
  border-radius: 10px;
  border-color: rgba(223, 221, 218, 0.507);
}
#search-history h3 {
  margin: 5px auto 0 auto;
  width: 70%;
  border-bottom-style: solid;
  border-bottom-color: rgba(206, 206, 206, 0.548);
}
#search-list {
  margin: 15px 5px 0 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: top;
  padding: 0;
  text-align: left;
}
.search-items {
  font-size: 20px;
  margin-bottom: 10px;
  list-style-type: none;
  border-style: solid;
  border-color: rgba(245, 239, 239, 0.507);
  border-radius: 8px;
  background-color: rgba(221, 218, 218, 0.5);
  width: 100%;
}
.search-items:hover {
  cursor: pointer;
  font-size: 22px;
}
.current-container {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
#display-current {
  height: 500px;
  width: 100%;
  border-style: solid;
  margin-left: 20px;
  background-color: var(--secondary);
  border-width: 10px;
  border-radius: 10px;
  border-color: rgba(116, 111, 102, 0.507);
}
.current-items {
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 10%;
  font-size: 30px;
}
#display-header {
  margin-left: 5%;
  margin-top: 10px;
  font-size: 40px;
}
#display-uv {
  width: 17%;
}
#display-forcast {
  height: 400px;
  width: 100%;
  display: flex;
}

#five-day-header {
  margin-top: 50px;
  margin-bottom: 15px;
  margin-left: 20px;
}
.forecast-container {
  width: 25%;
  margin-right: 20px;
  margin-left: 20px;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
  border-color: rgba(255, 0, 0, 0.507);
  background-color: var(--tertiary);
}
.forecast-header {
  margin-left: 3%;
  margin-top: 5px;
  font-size: 25px;
}
.forecast-items {
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: 5%;
  font-size: 20px;
}
